{% extends "main.html" %}
{% block body %}
<body class = "avni">
    <div class="shakti">
        <table class = "table table-bordered" >
                <!-- <thead> -->
                    <th>CVE</th>
                    <th>SEVERITY</th>
                    <th>NAMESPACE</th>
                    <th>PACKAGE</th>
                    <th>CURRENT VERSION</th>
                    <th>FIXEDIN VERSION</th>
                    <th>LINK</th>
                <!-- </thead>
                <tbody>       -->
                    <!-- <tr>
                    {% for line in cve_list %}
                    <tr>
                        {%for el in line %}
                        <td>{{el}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tr> -->
                    
                    <tr>
                    
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
<td>Avni</td>
                    </tr>
                    <tr>
                    
                            <td>Avni</td>
                            <td>Avni</td>
                            <td>Avni</td>
                            <td>Avni</td>
                            <td>Avni</td>
                            <td>Avni</td>
        <td>Avni</td>
                            </tr>
                            <tr>
                    
                                    <td>Avni</td>
                                    <td>Avni</td>
                                    <td>Avni</td>
                                    <td>Avni</td>
                                    <td>Avni</td>
                                    <td>Avni</td>
                <td>Avni</td>
                                    </tr>
                                               <tr>
                    
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
                    <td>Avni</td>
<td>Avni</td>
                    </tr>
<!-- 
                </tbody> -->
            </table> 
</div>
        </body>
{% endblock %}